body {

	font-family: monospace;
	font-size: 2em;
	font-weight: bold;

	background: #000 url('../img/background.jpg') 50% 0 no-repeat;
	color: #fff;
}

.menu {
	position: absolute;
	top: 150px;
	left: 20%;
}

.active {
	text-decoration: underline;
}